<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <ng-container *ngFor="let item of mangGhe; let index = index">
        <app-item-ghe [ghe]="item" (eventGhe)="chonGhe($event)"></app-item-ghe>
        <br *ngIf="(index + 1) % 4 === 0">
      </ng-container>
    </div>
    <div class="col-sm-6">
      <h5>Danh sách ghế đã đặt ({{soGheDaDat}} ghế đã đặt)</h5>
      <div *ngFor="let item of dsGheDangDat; let index = index">Ghế: {{item.TenGhe}} ${{item.Gia}}
        <a href="#" class="text-danger" (click)="remove(index, item)">[Hủy]</a>
      </div>
      <h4>=> Tổng tiền: ${{tongTien}}</h4>
    </div>
  </div>
</div>