.btnSeat{
    background-color: #F3751F;
    color: white;
    margin: 5px;
    width: 50px;
}
.seatSold{
    background-color: #00843E;
    cursor: no-drop;
}
.seatBooking{
    background-color: #008FBE;
}