<nav class="navbar navbar-expand-sm" style="background-image: url(./assets/img/pattern.png)">
    <a class="navbar-brand" href="#" style="font-size: 40px; color: #f37520">UniversalFilm</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <!-- <app-login></app-login> -->
            <app-register></app-register>
        </ul>
    </div>
</nav>