.ghe{
    background-color: grey;
    color: white;
    margin: 7px;
    width: 40px;
}
.gheDaDat{
    background-color: rgb(175, 8, 8);
    cursor: no-drop;
}
.gheDangChon{
    background-color: green;
}