<h1 style="color: purple">*ngContent</h1>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <app-item-card>
        <span class="tenSP">Iphone X</span>
        <span class="gia">$999</span>
      </app-item-card>
    </div>
    <div class="col-md-4">
      <app-item-card>
        <span class="tenSP">Galaxy Note 8</span>
        <span class="gia">$899</span>
      </app-item-card>
    </div>
    <div class="col-md-4">
      <app-item-card>
        <span class="tenSP">Oppo Reno</span>
        <span class="gia">$599</span>
      </app-item-card>
    </div>
  </div>
</div>