<h1 style="color: purple">*ngSwitch</h1>
<div [ngSwitch]="dkSwitch">
  <div *ngSwitchCase="'red'" style="color:red">Màu đỏ</div>
  <div *ngSwitchCase="'blue'" style="color:blue">Màu xanh</div>
  <div *ngSwitchCase="'green'" style="color: green">Màu xanh lá cây</div>
  <div *ngSwitchDefault style="color: orange">Màu cam</div>
</div>

<select #t (change)="changeColor(t.value)">
  <!-- <select #t (change)="dkSwitch = t.value"></select>
Thay đổi trực tiếp biến, nhưng chỉ sử dụng khi có 1 lệnh, không cần gọi phương thức trong file ts nữa -->
  <option value="red">Màu đỏ</option>
  <option value="blue">Màu xanh</option>
  <option value="green">Màu xanh lá cây</option>
  <option value="orange">Màu cam</option>
</select>

<h1 style="color: purple">Tháng bạn chọn có bao nhiêu ngày ???</h1>
<!-- Select -->
<select #a (change)="changeMth(a.value)">
  <option value="1">Tháng 1</option>
  <option value="2">Tháng 2</option>
  <option value="3">Tháng 3</option>
  <option value="4">Tháng 4</option>
  <option value="5">Tháng 5</option>
  <option value="6">Tháng 6</option>
  <option value="7">Tháng 7</option>
  <option value="8">Tháng 8</option>
  <option value="9">Tháng 9</option>
  <option value="10">Tháng 10</option>
  <option value="11">Tháng 11</option>
  <option value="12">Tháng 12</option>
</select>
<!-- Case -->
<div [ngSwitch]="ddmmyy">
  <div
    *ngSwitchCase="ddmmyy === '1' || ddmmyy === '3' || ddmmyy === '5' || ddmmyy === '7' || ddmmyy === '8' || ddmmyy === '10' || ddmmyy === '12' ? ddmmyy : '' ">
    => Có 31 ngày
  </div>

  <div *ngSwitchCase="'2'">
    <input class="mt-2" type="text" [value]="year" placeholder="Nhập vào năm" maxlength="4" #display
      (keyup.enter)="onEnter(display.value)">
    <p>=> Năm {{year}} tháng 2 có {{day}} ngày</p>
  </div>

  <div *ngSwitchCase="ddmmyy === '4' || ddmmyy === '6' || ddmmyy === '9' || ddmmyy === '11' ? ddmmyy : '' ">
    => Có 30 ngày
  </div>
</div>